/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Header Section */
.header-section {
  background-color: #154360;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.header-section h1 {
  font-size: 2.5rem;
}

.header-section p.lead {
  font-size: 1.2rem;
}

/* Venue Section */
.venue-section {
  padding: 20px 0;
  background-color: #eee;
}

/* Speakers Section */
.speakers-section {
  padding: 20px;
}

.speaker-card {
  max-width: 350px;
  margin:auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.speaker-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; /* Makes the images circular */
}

.speaker-card a {
  color: #005792; /* Link color that matches the header */
  text-decoration: none; /* Removes underline */
}

.speaker-card a:hover {
  text-decoration: underline; /* Adds underline on hover for better accessibility */
}

.speaker-card h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.speaker-card p {
  color: #666;
  margin: 5px 0;
}

/* Footer */
footer {
  background-color: #154360;
  color: white;
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .header-section {
    padding: 40px 10px;
    text-align: center;
  }
  .header-section h1 {
    font-size: 2rem; /* Smaller font size for smaller screens */
  }

  .venue-section, .schedule-section, .speakers-section {
    padding: 10px;
  }

  .speaker-card img {
    width: 100px;
    height: 100px;
  }

  .timeline-time {
    font-size: 0.9rem; /* Smaller font size for time labels on mobile */
  }
}

.schedule-section {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px 15px;
  border: 1px solid #dee2e6;
}

.table th, .table td:first-child {
  padding: 12px 15px;
  max-width: 120px;
  border: 1px solid #dee2e6;
}

.table thead th {
  background-color: #154360;
  color: white;
}

.table tbody tr {
  cursor: pointer;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.dropdown-indicator {
  float: right; /* Positions the indicator to the right of the title */
  transition: transform 0.3s ease-in-out;
}

.dropdown-indicator.open {
  transform: rotate(180deg); /* Flips the arrow when the abstract is expanded */
}

.abstract-details td {
  background-color: #f9f9f9;
  font-style: normal;
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
    padding: 0;
  }
  to {
    max-height: 300px;
    opacity: 1;
    padding: 12px 15px;
  }
}


